In [1]:
from proc_conn import db_main

#### Employees with Salary Above Department Average

In [ ]:
proc = """
CREATE PROCEDURE if not exists GetEmpAboveDeptAvgSalary()
BEGIN
    SELECT e.eid, e.ename, e.salary, e.deptid, avg_dept.avg_sal
    FROM emp e
    JOIN (
        SELECT deptid, AVG(salary) AS avg_sal
        FROM emp
        GROUP BY deptid
    ) avg_dept ON e.deptid = avg_dept.deptid
    WHERE e.salary > avg_dept.avg_sal;
END;
"""

result_df = db_main(proc, "GetEmpAboveDeptAvgSalary")
print(result_df)

2025-06-09 16:06:00,285 - INFO - Connected to the database successfully

2025-06-09 16:06:00,301 - INFO - Query executed successfully.
2025-06-09 16:06:00,301 - INFO - Called Stored Procedure `GetEmpAboveDeptAvgSalary` without parameters
2025-06-09 16:06:00,301 - INFO - Stored Procedure `GetEmpAboveDeptAvgSalary` returned a result set
2025-06-09 16:06:00,309 - INFO - Database connection closed.

    eid ename  salary  deptid    avg_sal
0    22     v    9029       1  3855.8571
1    23     w   20001       3  3814.2143
2    24     x   28222       1  3855.8571
3    25     y   19212       3  3814.2143
4    26     z   12111       1  3855.8571
5    28    a2    9238       1  3855.8571
6    38    b3    4212       2  1540.7000
7    39    b4    4444       3  3814.2143
8    42    b7    6432       1  3855.8571
9    43    b8    4532       2  1540.7000
10   45    c1    2324       2  1540.7000

#### Department with Highest Average Salary

In [19]:
proc = """
Create procedure if not exists DeptwthHighAvgSal()
BEGIN
    Select d.deptname, avg(e.salary) as Avg_sal
    from emp e
    join dept d on e.deptid = d.deptid
    group by d.deptname
    order by Avg_sal Desc
    limit 1;
END;
"""

result_df = db_main(proc, "DeptwthHighAvgSal")
print(result_df)

2025-06-09 16:14:48,192 - INFO - Connected to the database successfully

2025-06-09 16:14:48,204 - INFO - Query executed successfully.
2025-06-09 16:14:48,213 - INFO - Called Stored Procedure `DeptwthHighAvgSal` without parameters
2025-06-09 16:14:48,215 - INFO - Stored Procedure `DeptwthHighAvgSal` returned a result set
2025-06-09 16:14:48,217 - INFO - Database connection closed.

  deptname    Avg_sal
0       HR  3855.8571

#### Increasing salary by percentage for a Department

In [2]:
proc = """
Create Procedure if not exists IncSalbyPer(IN p_deptname varchar(50), IN p_percent int)
BEGIN
    Update emp e
    join dept d on e.deptid = d.deptid
    set e.salary = e.salary + (e.salary * p_percent / 100)
    where d.deptname = p_deptname;
END;
"""

param = ('HR', 20)
result_df = db_main(proc, "IncSalbyPer", param)
print(result_df)

2025-06-09 16:36:52,130 - INFO - Connected to the database successfully
2025-06-09 16:36:52,135 - INFO - Query executed successfully.

2025-06-09 16:36:52,136 - INFO - Called Stored Procedure `IncSalbyPer` with params ('HR', 20)
2025-06-09 16:36:52,146 - INFO - Stored Procedure `IncSalbyPer` executed successfully but returned no result set
2025-06-09 16:36:52,146 - INFO - 21 rows affected by Stored Procedure `IncSalbyPer`
2025-06-09 16:36:52,152 - INFO - Database connection closed.

Empty DataFrame
Columns: []
Index: []

#### Find Employees with duplicate salaries

In [5]:
proc = """
Create Procedure if not exists EmpDupSal()
BEGIN
    select e.ename, e.deptid, e.salary
    from emp e
    join (
    select salary
    from emp
    group by salary
    having count(*) > 1
    ) dup on e.salary = dup.salary;
END;
"""
result_df = db_main(proc, "EmpDupSal")
print(result_df)

2025-06-09 16:44:35,758 - INFO - Connected to the database successfully
2025-06-09 16:44:35,788 - INFO - Query executed successfully.
2025-06-09 16:44:35,791 - INFO - Called Stored Procedure `EmpDupSal` without parameters
2025-06-09 16:44:35,795 - INFO - Stored Procedure `EmpDupSal` returned a result set
2025-06-09 16:44:35,795 - INFO - Database connection closed.

  ename  deptid  salary
0     z       1   14533
1    a2       1   14533

#### Department Salary Stats

In [9]:
proc = """
Create Procedure if not exists DeptStats(IN p_deptname varchar(50))
BEGIN
    Select d.deptname,
    min(e.salary) as Min_Dept_Sal,
    max(e.salary) as Max_Dept_Sal,
    round(avg(e.salary),2) as Avg_Dept_Sal
    from emp e
    join dept d on e.deptid = d.deptid
    where d.deptname = p_deptname
    group by d.deptname;
END;
"""

param = ("Finance",)
result_df = db_main(proc,"DeptStats",param)
print(result_df)

2025-06-09 16:53:14,968 - INFO - Connected to the database successfully
2025-06-09 16:53:14,978 - INFO - Query executed successfully.
2025-06-09 16:53:14,978 - INFO - Called Stored Procedure `DeptStats` with params ('Finance',)
2025-06-09 16:53:14,983 - INFO - Stored Procedure `DeptStats` returned a result set
2025-06-09 16:53:14,986 - INFO - Database connection closed.

  deptname  Min_Dept_Sal  Max_Dept_Sal Avg_Dept_Sal
0  Finance            23         20001      3814.21