In [1]:
from proc_conn import load_db_connection, logging, pymysql

In [19]:
conn = load_db_connection()

if conn:
    try:
        queries = [
            "CREATE OR REPLACE VIEW emp_basic_view AS SELECT eid,deptid, ename, salary FROM emp",
            "CREATE OR REPLACE VIEW emp_dept_view AS SELECT e.eid, e.ename, e.salary, d.deptname FROM emp e JOIN dept d ON e.deptid = d.deptid",
            "CREATE OR REPLACE VIEW avg_salary_dept AS  SELECT d.deptname, AVG(e.salary) AS avg_salary FROM emp e JOIN dept d ON e.deptid = d.deptid GROUP BY d.deptname",
            "SELECT * from emp_basic_view limit 10",
            "UPDATE emp_basic_view SET salary = 999 WHERE eid = 1",
            "SELECT * from emp_basic_view limit 10",
            "RENAME TABLE emp_dept_view TO join_view",
            "show tables",
            "Drop view join_view",
            "show tables"
        ]
        
        with conn.cursor() as cursor:
            for query in queries:
                cursor.execute(query)
                
                if cursor.description:
                    results = cursor.fetchall()
                    print(f"\nResults of query: '{query}'")
                    for row in results:
                        print(row)
                    logging.info(f"Query returned result set: {query}")
                else:
                    logging.info(f"Query executed with no result set: {query}")

            
            conn.commit()
            logging.info("All queries executed successfully.")
    
    except pymysql.MySQLError as e:
        logging.error(f"Error executing queries: {e}")
    
    finally:
        conn.close()

2025-06-09 17:35:37,232 - INFO - Connected to the database successfully

2025-06-09 17:35:37,252 - INFO - Query executed with no result set: CREATE OR REPLACE VIEW emp_basic_view AS SELECT eid,deptid, ename, salary FROM emp
2025-06-09 17:35:37,257 - INFO - Query executed with no result set: CREATE OR REPLACE VIEW emp_dept_view AS SELECT e.eid, e.ename, e.salary, d.deptname FROM emp e JOIN dept d ON e.deptid = d.deptid
2025-06-09 17:35:37,273 - INFO - Query executed with no result set: CREATE OR REPLACE VIEW avg_salary_dept AS  SELECT d.deptname, AVG(e.salary) AS avg_salary FROM emp e JOIN dept d ON e.deptid = d.deptid GROUP BY d.deptname
2025-06-09 17:35:37,278 - INFO - Query returned result set: SELECT * from emp_basic_view limit 10
2025-06-09 17:35:37,280 - INFO - Query executed with no result set: UPDATE emp_basic_view SET salary = 999 WHERE eid = 1
2025-06-09 17:35:37,280 - INFO - Query returned result set: SELECT * from emp_basic_view limit 10
2025-06-09 17:35:37,293 - INFO - Query executed with no result set: RENAME TABLE emp_dept_view TO join_view
2025-06-09 17:35:37,294 - INFO - Query returned result set: show tables
2025-06-09 17:35:37,312 - INFO - Query executed with no result set: Drop view join_view
2025-06-09 17:35:37,313 - INFO - Query returned result set: show tables
2025-06-09 17:35:37,319 - INFO - All queries executed successfully.

Results of query: 'SELECT * from emp_basic_view limit 10'
(1, 1, 'a', 999)
(2, 2, 'b', 1023)
(3, 3, 'c', 23)
(4, 3, 'd', 123)
(5, 1, 'e', 122)
(6, 3, 'f', 2023)
(7, 1, 'g', 388)
(8, 2, 'h', 523)
(9, 1, 'i', 163)
(10, 1, 'j', 752)

Results of query: 'SELECT * from emp_basic_view limit 10'
(1, 1, 'a', 999)
(2, 2, 'b', 1023)
(3, 3, 'c', 23)
(4, 3, 'd', 123)
(5, 1, 'e', 122)
(6, 3, 'f', 2023)
(7, 1, 'g', 388)
(8, 2, 'h', 523)
(9, 1, 'i', 163)
(10, 1, 'j', 752)

Results of query: 'show tables'
('avg_salary_dept',)
('courses',)
('dept',)
('emp',)
('emp_basic_view',)
('enrollments',)
('join_view',)
('students',)

Results of query: 'show tables'
('avg_salary_dept',)
('courses',)
('dept',)
('emp',)
('emp_basic_view',)
('enrollments',)
('students',)